nav {
    position: relative;

    display: flex;

    align-items: center;
    width: 100vw;
    top: 0;
    left: 0;
    height: 6.5rem;
    background: transparent;
    padding: 1.5rem 4rem;
    @media screen and (min-width: $sm_breakpoint) {
        padding: 1.5rem 4.5rem;
    }
    background: black;
}

.headerTextsWrap {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 3rem;
    h1 {
        font-size: 1.3rem;
        font-weight: 800;
        letter-spacing: 0.1rem;
        margin-right: 5rem;
    }
}
.logo {
    height: 100%;
    object-fit: contain;
    // position: absolute;
    // left: -2rem;
}
