.maxNomineesBanner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: red;
    padding: 3rem;
    margin: 1rem 0;
    border-radius: 0.25rem;
}

.maxNomineesTitle {
    color: red;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 3rem;
        -webkit-text-stroke-width: 2px;
    }

    -webkit-text-stroke-color: white;
    margin: 0;
}

.maxNomineesDesc {
    font-size: 1.2rem;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 3rem;
    }
    text-transform: uppercase;

    margin: 0;
    margin-top: 0.5rem;
}
.bannerBorder {
    position: absolute;

    // top: 65%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    top: 5%;
    left: 1%;
    z-index: 2;
    // width: 90vw;
    width: 98%;
    height: 100%;
    // max-width: 105rem;
    // height: 63vh;
    //min-height: 31.25rem;
    span {
        position: absolute;
        // display: block;
        background: white;
    }
    .top,
    .bottom {
        width: 100%;
        height: 0.2rem;
    }
    .left,
    .right {
        width: 0.2rem;
        height: 100%;
    }
    .bottom {
        bottom: 0;
        // transform: rotate(180deg);
        transform: scale(1);
        transform-origin: top right;
    }
    .left {
        // transform: rotate(180deg);
        transform: scale(1);
        transform-origin: bottom left;
    }
    .right {
        right: 0;
    }
}
