.searchAndNomineeSection {
    padding: 0rem 3rem;
    @media screen and (min-width: $md_breakpoint) {
        padding: 0rem 5rem;
    }
}
.searchAndNomineeTitle {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 5rem;
    }
}

.nomineeMediaContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    @media screen and (min-width: $sm_breakpoint) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 3rem;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
}
.nomineeMediaTextWrap {
    text-transform: uppercase;
    margin-top: 1.5rem;
    h1 {
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
    }
    p {
        color: #858585;
        font-weight: bold;
        margin: 0;
        margin-top: 0.5rem;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
}
